# Development dependencies.
fastapi[standard]
uvicorn[standard]
SQLAlchemy
psycopg2-binary
asyncpg
alembic
pydantic
pydantic-extra-types
phonenumbers
requests
python-dotenv
pytest
pytest-cov
flake8
black
mypy
mypy-extensions
pycodestyle
pydocstyle
passlib
python-jose
